* {
    box-sizing: border-box;
}

body {
    background-color: #fedcb2;
    margin: 2% 10%;
}

header {
    text-align: center;
}

.table-head {
    font-weight: 400;
    background-color: rgba(254, 162, 225, 0.5);
    font-size: 16px;
}

.fit {
    width: 100%;
    
}

.hind {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.lexend {
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.hubballi {
    font-family: 'Hubballi', cursive;
    font-weight: 400;
    font-size: 16px;
}

.normal {
    font-weight: 400;
    font-size: 16px;
}

.bold {
    font-weight: 700;
    font-size: 16px;
}

.italic {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.boxed-heading {
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.boarders {
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding: 1%; 
    background-color: white;
    width: 100%;
    height: 40%;
}

.colors {
    display: inline-block; 
    font-family: 'Hubballi', cursive;
    font-size: 16px;
    margin: 4%;
    padding: 25px 30px 5px 15px; 
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px 50% 50% 50%;
    height: 100px;
    width: 100px;
}

.blue {
    background-color: #3750a2;
    color: white;
}
.purple {
    background-color: #843a8f;
    color: white;
}
.raspberry {
    background-color: #b00100;
    color: white;
}
.evergreen {
    background-color: #4E6343;
    color: white;
}
.blue-denim {
    background-color: #416476;
    color: white;
} 
.orange {
    background-color: #e28132;
}       
.green {
    background-color: #4aa788;
}
.yellow {
    background-color: #faab2a;
}
.pink {
    background-color: #fea2e1; 
}
.cream {
    background-color: #fedcb2;
}










